/* Your board style here */
.racer-table td {
  height: 40px;
  width: 40px;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
.racer-table .player[data-team="0"] td.active {
  background-image: image-url("player_1.png");
}

.racer-table .player[data-team="1"] td.active {
  background-image: image-url("player_2.png");
}
