<div class="form-wrapper">
  <form action="/" id="team-creation">
    <label for="name_team_1">Team 1:</label>
    <input type="text" id="name_team_1">
    <label for="name_team_2">Team 2:</label>
    <input type="text" id="name_team_2">
    <input type="submit">
  </form>

  <form action="/" id="step-creation">
    <label for="step">Add a step:</label>
    <input type="text" id="step">
    <input type="submit">
  </form>

  <ul id="steps">

  </ul>

  <button id="start">Start <i class="fa fa-chevron-right"></i></button>
</div>
