
<h1 class="text-center">Wagon Race</h1>
<h2 id="team-name-1">
  
</h2>
<h2 id="team-name-2">
  
</h2>
<h2 id="team-name-3">
  
</h2>
<table class="racer_table">
  <tr id="player1_race">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
  </tr>
  <tr id="player2_race">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
  </tr>
  <tr id="player3_race">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
