<h1 class="text-center">Wagon Race</h1>
<div class="team-controls" data-team="0">
  <h2 class="team-name"></h2>
  <div class="team-score">
    <span class="score"></span>
    <span class="score-controls">
      <span class="score-up">+</span>
      <span class="score-down">-</span>
    </span>
  </div>
</div>

<div class="team-controls" data-team="1">
  <h2 class="team-name"></h2>
  <div class="team-score">
    <span class="score"></span>
    <span class="score-controls">
      <span class="score-up">+</span>
      <span class="score-down">-</span>
    </span>
  </div>
</div>

<div class="race-controls">
  <div class="timer">
    10 min
  </div>
</div>

<table class="racer-table">
  <tr class="player" data-team="0">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
  </tr>
  <tr class="player" data-team="1">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
    <td>
      <hr>
    </td>
  </tr>
  <tr data-team="2">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
